extends layout

block content
  script(type='module' src='/javascripts/main.bundle.js')
  div(class='main-container')
    div(class='left-main-container')
        
    div(class='center-main-container')
        div(class='posts-maintitle') Posts

        if data.length > 0
            each item in data
                div(class='myposts-item-container') 

                    div(class='posts-title' id=`${item.id}`) #{item.title}
                    div(class='posts-description' id=`${item.id}`) #{item.description}
                    div(class='posts-info') #{item.updated_at}
                
        else
            div(class='myposts-item-container') 

                div(class='posts-title-no-pointer') No posts yet ...

        div(class='footer-myposts') End 

    div(class='right-main-container-editor')
        span(class='create-post-container') Write article


    